{% extends "base.html" %}
{% block title %} Регистрация {% endblock title %}
{% block content %}
<h1>Регистрация</h1>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock content %}