<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
{% load static %}
<html><head>
<meta http-equiv="Content-Type" content="charset=utf-8"/>
<title>{% block title %} Аномимный портал {% endblock title %}</title>
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/info_block.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mini_profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/aut_reg.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script src="{% static 'js/info_block.js' %}"></script>
<script src="{% static 'js/mini_profile.js' %}"></script>
<script type="text/javascript">

function openbox(id){
    display = document.getElementById(id).style.display;

    if(display=='none'){
       document.getElementById(id).style.display='block';
    }else{
       document.getElementById(id).style.display='none';
    }
}
</script>

    <div class="head">
        <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr>
            <td class="logo"><a href="/"><img src="/static/images/logo.png" alt="logo"></a></td>
            {% if user.is_authenticated %}
            <td class="menu"><a href="#" onclick="openbox('box'); return false"><img src="/static/images/menu.png" alt="logo"></a></td>
            {% endif %}
        </tr>

</table>
</div>
    <div class="topmenu">
        <a href="/">Статьи</a>
        <a href="/schat/chat">Чат</a>
        {% if user.is_authenticated %}
        <div style="float: right">
            <span>Привет {{ user.username }}</span>
            <a href="/saccount/logout/">Выйти</a>
        </div>
        {% else %}
        <div style="float: right">
            <a href="/saccount/register/">Регистрация</a>
            <a href="/saccount/login/">Вход</a>
        </div>
        {% endif %}
    </div>
{% if user.is_authenticated %}
    <div id="box" style="display: none;">
        <center>

        </center>
    <div class="topmenu">
        <!--Mini profile-->
        <div class="profile">
        <div class="photo"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/764024/profile/profile-512.jpg" /></div>
        <div class="content">
            <div class="text">
                {% if user.first_name and not user.last_name %}
                <h3>{{ user.first_name }}</h3>
                {% elif not user.first_name and user.last_name %}
                <h3>{{ user.last_name }}</h3>
                {% elif not user.first_name and not user.last_name %}
                <h3>Вы пустышка</h3>
                {% else %}
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                {% endif %}
                <h6>Front-end Web Designer</h6>
                {% if user.is_staff %}
                <h6 style="color: #ff7530;">ADMIN</h6>
                {% endif %}
            </div>
            <div class="btn"><span></span></div>
        </div>
    <div class="box"><i class="fa fa-vk"></i><i class="fa fa-github"></i><i class="fa fa-paper-plane"></i></div>
        </div>
    </div>
    </div>
{% endif %}
    <div class="content">
        {% block content %}
<div class="post">

					<div class="title">eval() я всё и всех</div>
					<div class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации позиций,
                        занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и
                        сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</div>
				</div>
        <div class="tmenu"><img src="/static/images/menu.png" alt="."></div>
        <div class="post2">

					<div class="title">Статья 423</div>
					<div class="description2">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации позиций,
                        занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и
                        сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</div>
     <i class="fa fa-comments" aria-hidden="true"></i> <a href="/"> Комментарии</a>

				</div>
{% endblock content %}
    </div>
    <div class="foot"><div class="foot_l">
<a href="">Партнеры</a>
<a href="">Реклама</a>
<a href="">Сотрудничество</a></div><br>
© 2017 Все права защищены.
</div>

</body></html>